<div>Search!</div>

<%= form_for @changeset, "#", [phx_change: :search], fn f -> %>
    <%= text_input f, :sku, [phx_debounce: 2000] %>
    <%= error_tag f, :sku %>
<% end %>

<%= if @product do %>
<%= @product.name %>
<%= @product.description %>
<% end %>
